*~
*.bak
*.pyc
Thumbs.db
*.class
*.DS_Store
.gradle
cygdrive
/build
/out
/repo
.idea/workspace.xml
.idea/dictionaries/tnorbye.xml
misc/distrib_plugins/build
misc/distrib_plugins/buildSrc/build
misc/distrib_plugins/buildSrc/out
misc/distrib_plugins/buildSrc/buildSrc.i*