<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.tests.shrink" >

    <application android:label="Test">
        <activity
            android:name=".UsedActivity"
            android:label="Test">
        </activity>
    </application>

</manifest>
