local.properties
.idea
.gradle
lint-results
integration-test/test-projects/regular/*/build
integration-test/test-projects/manual/*/build
integration-test/test-projects/native/*/build
integration-test/test-projects/jack/*/build
integration-test/test-projects/regular/api/*/build
integration-test/test-projects/regular/applibtest/*/build
integration-test/test-projects/regular/assets/*/build
integration-test/test-projects/regular/attrOrder/*/build
integration-test/test-projects/regular/basic/lint-report*
integration-test/test-projects/regular/dependencies/jarProject/build
integration-test/test-projects/regular/dependencies/jarProject2/build
integration-test/test-projects/regular/embedded/*/build
integration-test/test-projects/regular/embedded/micro-apps/*/build
integration-test/test-projects/regular/flavoredlib/*/build
integration-test/test-projects/regular/flavorlib/*/build
integration-test/test-projects/regular/libMinifyJarDep/*/build
integration-test/test-projects/regular/libMinifyLibDep/*/build
integration-test/test-projects/regular/libsTest/*/build
integration-test/test-projects/regular/multiproject/*/build
integration-test/test-projects/regular/localAarTest/*/build
integration-test/test-projects/regular/localJars/*/build
integration-test/test-projects/regular/multiDexWithLib/*/build
integration-test/test-projects/regular/ndkJniLib/*/build
integration-test/test-projects/regular/ndkJniPureSplitLib/*/build
integration-test/test-projects/regular/packagingOptions/jars/*/build
integration-test/test-projects/regular/minifyLib/*/build
integration-test/test-projects/regular/renderscriptInLib/*/build
integration-test/test-projects/regular/sameNamedLibs/*/build
integration-test/test-projects/regular/sameNamedLibs/*/*/build
integration-test/test-projects/regular/tictactoe/*/build
integration-test/test-projects/manual/mavenLocal/*/build
integration-test/test-projects/manual/repo/*/build
integration-test/test-projects/manual/customArtifactDep/*/build
integration-test/test-projects/manual/3rdPartyTests/*/build
integration-test/test-projects/manual/flavorlibWithFailedTests/*/build
integration-test/test-projects/manual/shrink/*/build
integration-test/test-projects/manual/dependenciesWithVariants/*/build

integration-test/test-projects/native/ndkJniLib2/*/build
integration-test/test-projects/native/ndkStandaloneSo/*/build
integration-test/test-projects/native/ndkStl/*/build
