local.properties
.idea
gradle/build
tests/*/build
tests/api/*/build
tests/applibtest/*/build
tests/assets/*/build
tests/attrOrder/*/build
tests/basic/lint-report*
tests/customArtifactDep/*/build
tests/3rdPartyTests/*/build
tests/dependencies/jarProject/build
tests/dependencies/jarProject2/build
tests/embedded/*/build
tests/flavorlib/*/build
tests/flavoredlib/*/build
tests/flavorlibWithFailedTests/*/build
tests/libProguardJarDep/*/build
tests/libProguardLibDep/*/build
tests/libsTest/*/build
tests/multiproject/*/build
tests/localAarTest/*/build
tests/localJars/*/build
tests/ndkStandaloneSo/*/build
tests/ndkJniLib/*/build
tests/ndkJniLib2/*/build
tests/ndkStl/*/build
tests/packagingOptions/jars/*/build
tests/proguardLib/*/build
tests/renderscriptInLib/*/build
tests/repo/*/build
tests/mavenLocal/*/build
tests/sameNamedLibs/*/build
tests/sameNamedLibs/*/*/build
tests/tictactoe/*/build
lint-results
