local.properties
.idea
.gradle
lint-results
tests/regular/*/build
tests/manual/*/build
tests/native/*/build
tests/jack/*/build
tests/regular/api/*/build
tests/regular/applibtest/*/build
tests/regular/assets/*/build
tests/regular/attrOrder/*/build
tests/regular/basic/lint-report*
tests/regular/dependencies/jarProject/build
tests/regular/dependencies/jarProject2/build
tests/regular/embedded/*/build
tests/regular/flavoredlib/*/build
tests/regular/flavorlib/*/build
tests/regular/libMinifyJarDep/*/build
tests/regular/libMinifyLibDep/*/build
tests/regular/libsTest/*/build
tests/regular/multiproject/*/build
tests/regular/localAarTest/*/build
tests/regular/localJars/*/build
tests/regular/multiDexWithLib/*/build
tests/regular/ndkJniLib/*/build
tests/regular/ndkJniPureSplitLib/*/build
tests/regular/packagingOptions/jars/*/build
tests/regular/minifyLib/*/build
tests/regular/renderscriptInLib/*/build
tests/regular/sameNamedLibs/*/build
tests/regular/sameNamedLibs/*/*/build
tests/regular/tictactoe/*/build
tests/manual/mavenLocal/*/build
tests/manual/repo/*/build
tests/manual/customArtifactDep/*/build
tests/manual/3rdPartyTests/*/build
tests/manual/flavorlibWithFailedTests/*/build
tests/manual/shrink/*/build
tests/manual/dependenciesWithVariants/*/build

tests/native/ndkJniLib2/*/build
tests/native/ndkStandaloneSo/*/build
tests/native/ndkStl/*/build
